<%= simple_form_for(@user, :html => { :multipart => true } ) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <%= f.file_field :photo %>
  <%= f.hidden_field :photo_cache %>

  <h2> Teach Skills </h2>
  <%= f.fields_for :skills, @user.skills.where(teach: true) do |f| %>
    <%= render '/forms/skill_fields', f: f, dumy: true %>
  <% end %>
  <%= link_to_add_fields "Add Teach Skill", f, :skills, true %>

  <h2> Learn Skills </h2>
  <%= f.fields_for :skills, @user.skills.where(teach: false) do |f| %>    
    <%= render '/forms/skill_fields', f: f , dumy: false  %>
  <% end %>
  <%= link_to_add_fields "Add Learn Skill", f, :skills, false %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
