<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @user.rating %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Teach</th>
      <th>Name</th>
      <th>Description</th>
      <th>Numb events</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.skills.each do |skill| %>
      <tr>
        <td><%= skill.teach %></td>
        <td><%= skill.name %></td>
        <td><%= skill.description %></td>
        <td><%= skill.numb_events %></td>
        <td><%= link_to 'Show', skill %></td>
        <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
        <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Teach</th>
      <th>Name</th>
      <th>Description</th>
      <th>Numb events</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.event.name %></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= link_to 'Show', '#' %></td>
        <td><%= link_to 'Edit', '#' %></td>
        <td><%= link_to 'Destroy', '#', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
