<p id="notice"><%= notice %></p>

<h1>Info</h1>

<%= gravatar_for @user %>
  <%= image_tag @user.photo.url  %>


<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.is_male %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>



<p>
  <strong>Rating:</strong>
  <%= @user.rating %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo_url %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo.url %>
</p>


<% if can? :manage, @user %>
<%= link_to 'Edit', edit_user_path(@user) %>
<% end %>

<h1>Skills</h1>
<h2>Offer and Learn</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Teach</th>
      <th>Name</th>
      <th>Description</th>
      <th>Numb events</th>
    </tr>
  </thead>

  <tbody>
    <% @user.skills.each do |skill| %>
      <tr>
        <td><%= skill.teach %></td>
        <td><%= skill.name %></td>
        <td><%= skill.description %></td>
        <td><%= skill.numb_events %></td>
        <td><%= link_to 'Show', skill %></td>
        <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
        <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Skill', new_skill_path(id: @user.id) %>

<h1>Events</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @user.attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.event.name %></td>
        <td><%= attendee.event.description%></td>
        <td><%= attendee.event.date%></td>
        <td><%= attendee.event.time%></td>
        <td><%= link_to 'Show', attendee.event %></td>
        <td><%= link_to 'Edit', edit_event_path(attendee.event) %></td>
        <td><%= link_to 'Destroy', '#', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Tags</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
    <% @user.tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.tagable_type %></td>
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', '#', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<%= link_to 'Back', users_path %>
