<h1><%= @user.name %></h1>

<div class="row user_details">
  <div class="span3 user_photo">
    <%= image_tag(@user.photo_url, :width => 300, :height => 300, class: "img-rounded") %>
      
  </div>
  <div class="span1">
    <!-- Eventually I want to make the whole page easy to edit by having hovers and stuff. -->
    <!-- Maybe even have LinkedIn's type of questions that help you to add more events. -->
    <% if can? :manage, @user %>
      <%= link_to 'Edit', edit_user_path(@user) , class: "btn btn-primary"%> <br><br>
    <% end %>
    <%= button_to 'Request Event', request_event_path(requested_user_id: @user.id), class: "btn btn-danger"  %>
      
  </div>
  <div class="span6 offset2">
    <h3> Tags </h3>
    <p> <%= @user.tag_string %> </p>
    <h3> Desciption </h3>
    <p> <%= @user.description %> </p>
  </div>
</div>

<hr class = "seperator">

<h1>Skills</h1>
<div class="row">
  <div class="span6" id = "skill_learn">
      <h3>Teach</h3>
      <%= render 'infographic/skill' %>
  </div>
  <div class="span6" id = "skill_teach">
    <h3>Learn</h3>
  </div>
</div>

<hr class = "seperator">

<h1>Events</h1>

<ul class="thumbnails">
  <%= render @user.events %>
</ul>

