<div class="navbar">
  <div class="navbar-inner">
      <li class = "brand"><%= link_to 'Recommended', recommended_path %></li>
    <ul class="nav">
      <li class = "active"><%= link_to 'Explore', explore_path %></li>
    </ul>
  </div>
</div>

<h1>Seach and Explore Skills</h1>

<%= form_tag explore_path, :method => 'get' do %> <!-- change from post to get -->
  <p>
    <%= text_field_tag :query, params[:query] %>  <!-- the params keeps the content in the textfield -->
    <%= submit_tag "Search", :name => nil , class: "btn btn-primary"%>
  </p>
<% end %>

<h1>To Learn</h1>
<table class = "table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @skills_learn.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.description %></td>
        <td><%= link_to 'Show', user_path(skill.user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>To Teach</h1>

<table class = "table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @skills_offer.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.description %></td>
        <td><%= link_to 'Show', user_path(skill.user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

