<h1>Listing skills</h1>

<%= form_tag skills_path, :method => 'get' do %> <!-- change from post to get -->
  <p>
    <%= text_field_tag :query, params[:query] %>  <!-- the params keeps the content in the textfield -->
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div class="skills">
  <% @skills.each do |skill| %>
  <li>
    <%= skill.teach %>
      <h3><%= link_to skill.name, skill %></h3>
      <%= skill.description %>
      <%= skill.numb_events %>
      
    </li>
  <% end %>
</div>
