<div class="navbar">
  <div class="navbar-inner">
      <li class = "brand active"><%= link_to 'Recommended', recommended_path %></li>
    <ul class="nav">
      <li><%= link_to 'Explore', explore_path %></li>
    </ul>
  </div>
</div>

<h1>Recommended Skills</h1>

<table class = "table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @skills_learn.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.description %></td>
        <td><%= link_to 'Show', user_path(skill.user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

