<p id="notice"><%= notice %></p>

<p>
  <strong>Teach:</strong>
  <%= @skill.teach %>
</p>

<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @skill.description %>
</p>

<p>
  <strong>Numb events:</strong>
  <%= @skill.numb_events %>
</p>

<p>
  <strong>Events:</strong>
  <%= @skill.attendees.first.event.name %>	<!-- You can pulls the events from the skill-->
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
