<h1>Info</h1>



<!-- This is not the cleanest of code, but I will have to come back to it and fix it -->
<!-- The alternative is to correctly resize the default image or create a class which calls default images -->
<%= image_tag(@event.photo_url, :width => 300, :height => 300, class: "img-rounded") %> <br>

<div id = "attend_button">
<% if @event.is_attendee?(current_user) %>
  <%= link_to "Unattend", @event.attendees.where(user_id: current_user.id.to_s).first, method: :delete, remote: true %>
<% else %>
  <%= link_to "Attend", new_attendee_path(attendee: {event_id: @event.id, user_id: current_user.id}), remote: true ,  id: "attend_link" %>
<% end %>
</div>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Status</strong>
  <%= @event.status %>
</p>

  <!-- Anyone and Everyone can Edit -->
  <%= link_to 'Edit', edit_event_path(@event) %>




<h1>Attendees</h1>

<ul id="event_attendees">
  <!-- This is the long hand, just remember how its done and its DRY -->
  <!-- <%= render :partial => '/attendees/attendee', :collection => @event.attendees %> -->
  <%= render @event.attendees %>
</ul>


<%= link_to 'Back', events_path %>
