<p id="notice"><%= notice %></p>
<h1>Info</h1>

 <%= image_tag @event.photo.url %>
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<% @event.attendees.each do |attendee| %>
<% if can? :manage, attendee.user %>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <% break %>
<% end %>
<% end %>




<h1>Attendees</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @event.attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.user.name %></td>
        <td><%= attendee.user.description %></td>
        <td><%= link_to 'Show', attendee.user %></td>
        <td><%= link_to 'Edit', edit_user_path(attendee.user) %></td>
        <td><%= link_to 'Destroy', attendee.user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Skills</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @event.attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.skill.name %></td>
        <td><%= attendee.skill.description %></td>
        <td><%= link_to 'Show', attendee.skill %></td>
        <td><%= link_to 'Edit', edit_skill_path(attendee.skill) %></td>
        <td><%= link_to 'Destroy', attendee.skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<%= link_to 'Back', events_path %>
