<div class = "row event_profile">
  <div class = "span3">
    <h1>Attendees</h1>

<ul id="event_attendees">
  <!-- This is the long hand, just remember how its done and its DRY -->
  <!-- <%= render :partial => '/attendees/attendee', :collection => @event.attendees %> -->
  <%= render @event.attendees %>
</ul>
  </div>
  <div class = "span6 middle">
    <h1> <%= @event.name %> </h1>
    <!-- This is not the cleanest of code, but I will have to come back to it and fix it -->
    <!-- The alternative is to correctly resize the default image or create a class which calls default images -->
    <%= image_tag(@event.photo_url, :width => 300, :height => 300, class: "img-rounded image") %> <br>
    <ul class="thumbnails">
      <!-- Time -->
      <li class="span2 event_details">
          <div class="thumbnail" id = "merelda">
            <div class = "circle"><div class = "text"><%= @event.readable_hour %></div></div>
            <div class = "circle"><div class = "text"><%= @event.readable_minutes %></div></div><br>
            <h3>3Hours</h3>
          </div>
      </li>
      <!-- Date -->
      <li class="span2 event_details">
        <div class="thumbnail" id = "matthew">
          <h3><%= @event.readable_day %></h3>
          <h3><%= @event.readable_month %></h3>
          <h3><%= @event.readable_year %></h3>
        </div>
      </li>
      <!-- Location -->
      <li class="span2 event_details">
        <div class="thumbnail" id = "james">
          <h3><%= @event.location %></h3>
        </div>
      </li>
    </ul>
    
  </div>
  <div class = "span3">
    <div id = "attend_button">
      I want to: 
      <% if @event.is_attendee?(current_user) %>
        <%= link_to "Unattend", @event.attendees.where(user_id: current_user.id).first, method: :delete, remote: true, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Attend", new_attendee_path(attendee: {event_id: @event.id, user_id: current_user.id}), remote: true, class: "btn btn-danger",  id: "attend_link" %>
      <% end %>
      | <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary" %>
      <h2>This is what it's all about... </h2>
      <p><%= @event.description %></p>
    </div>
  </div>
</div>
