<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Tagable:</strong>
  <%= @tag.tagable_id %>
</p>

<p>
  <strong>Tagable type:</strong>
  <%= @tag.tagable_type %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
